---
import MainLayout from '../../layouts/main.astro'

import { XataClient } from '../../xata';

export async function getStaticPaths() {
  const xata = new XataClient({ apiKey: import.meta.env.XATA_API_KEY });
  const records = await xata.db.Posts.getAll();

  return records.map(({ slug, title, description, pubDate }) => {
    return {
      params: { slug },
      props: { title, description, pubDate },
    };
  });
}

const post = Astro.props;
---

<MainLayout title={post.title}>

  <div class="w-full max-w-5xl mt-16">
    <p class="mb-2">
      <a href="/" class="text-purple-600">
        &larr; Back to blog
      </a>
    </p>

    <h1 class="text-3xl mb-2">{post?.title}</h1>
    <p class="text-sm mb-4 text-purple-950 dark:text-purple-200">
      {post?.pubDate?.toDateString()}
    </p>
    <p class="text-xl">{post?.description}</p>

  </div>
	
</MainLayout>
