:root {
  --border-radius: 6px;
  --font-mono: 'Victor Mono', ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
  --callout-rgb: 0, 0, 0;
}

html {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(45deg purple, hotpink);
}

aside {
  display: flex;
  justify-content: center;
  padding: 0;
}

@media (min-width: 600px) {
  aside {
    padding-top: 3rem;
  }
}

button[disabled] {
  opacity: 0.5;
  border-color: #555;
}

ul {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rbg(--foreground-rgb);
  background: #000
    linear-gradient(
      45deg,
      transparent 60%,
      rgba(100, 10, 70, 0.3) 80%,
      transparent
    );
}

a {
  color: inherit;
  text-decoration: none;
}
