@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: theme(colors.white);
    background: theme(colors.black);
  }

  .grid-order-1 {
    grid-column: 1;
  }
  .grid-order-2 {
    grid-column: 2;
  }
  .grid-row-order-1 {
    grid-row: 1;
  }
  .grid-row-order-2 {
    grid-row: 2;
  }
}

@layer components {
  .rating-star {
    text-shadow: 0 0 theme(colors.pink.200);
    @apply text-transparent;
  }
}
