---
import DeleteButton from "./DeleteButton";

export interface Props {
  id: string;
  title: string;
  description: string;
  url: string;
}

const { title, description, url, id } = Astro.props;
---

<li>
  <a href={url ?? ""} rel="noopener noreferrer" target="_blank">
    {title}
  </a>
  <p>{description}</p>
  <input type="hidden" name="action" value="delete" />
  <DeleteButton id={id} client:only />
</li>
