.todoItem {
  font-size: 20px;
  color: rgb(86, 77, 86);
  display: grid;
  gap: 16px;
  grid-template-columns: min-content auto min-content;
  margin: 8px;
  align-items: center;
}

.todoItem input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.todoItem input[type="checkbox"]:checked + label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todoItem input[type="text"] {
  border: 2px solid transparent;
  border-image-source: linear-gradient(
    107deg,
    rgba(249, 195, 191, 1) 0%,
    rgba(153, 111, 200, 1) 100%
  );
  border-image-slice: 1;

  padding: 4px 8px;
}

.todoItem input[type="text"]:focus {
  outline: none;
}

.todoItem button {
  opacity: 0;
  color: #cc9a9a;
  background-color: transparent;
  border: none;
  font-size: 30px;
  transition: color 0.2s ease-out;
  transform: scaleY(0.8);
  cursor: pointer;
}

.todoItem:hover button {
  opacity: 1;
}

.todoItem button:hover {
  color: #ce6464;
}
