body {
  background: rgb(249, 195, 191);
  background: linear-gradient(
    107deg,
    rgba(249, 195, 191, 1) 0%,
    rgba(153, 111, 200, 1) 100%
  );
  display: grid;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
